* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin: 10px;
}

main {
    margin: 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;
}

img {
    width: 400px;
    height: 600px;
    margin-top: 10px;
    animation: fade 15s;
}

@keyframes fade {
    8% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}